/* css */
body{
    margin:0px;
    padding:0px;
    background-color:black;
}

#page {
    padding:40px;
}

#header {
    background-color:gray;
    padding:0px;
    margin:0px 0px;
    color:white;
}

#header h1{
    padding:20px 40px;
    margin:0px;
    font-size:60pt;
    font-family:verdana;
}

/* navigation */

#nav, #nav a {
    background-color:#ccc;    /* this changes the background color to #ccc */
    padding:10px;
}

#nav a {
    margin:0px;
    color:black;
    font-family:arial;
    text-decoration:none;    /* removes the underline */
}

#nav a:hover {
    background-color:#aaaaff;
    transition: background-color 1s;    /* this provides a change of color */
    color:white;
}

/* end navigation */

#content {
    padding:20px 40px;
    background-color:#eee;
    margin:0px;
    
}

#content h2, #content h3 {
    font-family:arial;
}

#footer{
    background-color:black;
}

#footer a {
    text-decoration:none;
    color:white;
}

.spotlightr {
    background-color:pink;
}
/*
#header{
    background-color:gray;
    width:400px;
    padding:20px 40px;
}
#header:hover{
    background-color:pink;
    transition: background-color 2s;
}


*/